<div class="page container-fluid">
<div class="row">
  <div class="col-xs-12">

	<h1>EDIT PROFILE</h1>

	<div>

		<h3><span class="label label-danger">Prototype</span> This page would allow the user to add more details to the profile.</h3>

		<div style="margin-top:1.5em">
		The page would be identical to the user profile, but with additional fields to...
		<ul>
			<li>add a birthdate (which is currently NULL),</li>
			<li>add an "about me" text,</li>
			<li>upload or change an avatar picture, and</li>
			<li>re-arrange the things in a different order.</li>
		</ul>
		</div>

		<div>
			The first three items in this list are repetitions of client-server interation through forms.
		</div>
		<div>
			The fourth item has been implemented on the <a href="#/profile/1">user profile</a>.
		</div>

	</div>

  </div>
</div>
</div>