<div id="homepage"><!-- class="container-fluid" -->

<section class="module parallax parallax-1">
	<div class="hpcontainer" style="">
		<h1 style="margin-top:0px;">Minimalism</h1>
	</div>
</section>

<section class="module content">
<div class="container" style="margin-bottom:60px;">
	<div class="row">
		<div class="col-xs-12 col-sm-7" style="margin-top: 20px;position:relative;">

			<h2>How minimalist are you?</h2>

			<p>Colin Wright only owns 56 things.<br />

			His possessions now fit into a carry-on bag.<br />

			Could your possessions have a negative on your life?</p>

			<p class="bold">How many things do you own?</p>

			<div class="hidden-xs visible-md visible-lg">
				<button class="btn btn-warning" data-ng-click="go('/signup')">Join the Community</button>
			</div>

		</div>
		<div class="col-xs-12 col-sm-5" style="margin-top: 20px;position:relative;">

			<img src="images/homepage/minimalism-648x536.jpg" class="img-responsive roundedimage" alt="">
			<div class="img-copyright" style="color:#888888">&copy; Colin Wright - colin.io</div>

		</div>
	</div>

			<div class="visible-xs visible-sm">
				<div style="text-align:center">
					<button class="btn btn-warning" data-ng-click="go('/signup')">Join the Community</button>
				</div>
			</div>

</div>
</section>

<section class="module parallax parallax-2">
  <div class="hpcontainer">
		<div>
			<div style="padding-top:200px;text-align:center" class="ctext">
				Travel the world
			</div>
			<div style="margin-top:30px;text-align:center" class="ctext">
				Work from anywhere
			</div>
		</div>
  </div>
</section>

<section class="module content">
  <div class="hpcontainer center">
    <h2>A global community</h2>
    <p>What some of our members are saying...</p>
  </div>
</section>

<section class="module parallax parallax-3">
  <div class="hpcontainer">

	<div class="container-fluid">
	<div class="row">
		<div class="userexperience col-xs-offset-1 col-xs-10 col-sm-offset-1 col-sm-4">
			<div class="row">
				<div class="col-xs-4 col-md-12">
					<img class="avatarimg" src="./images/avatars/2.jpg">
				</div>
				<div class="col-xs-8 col-sm-7 col-md-12">
					<div class="username">Mary Jane</div>
					<div class="usertext">My life is less cluttered and I feel less stressed and distracted.
					The comfort of the Minimalist community has helped me be more confident.</div>
				</div>
			</div>
		</div>
		<div class="userexperience col-xs-offset-1 col-xs-10 col-sm-offset-2 col-sm-4">
				<div class="col-xs-4 col-sm-5 col-md-12">
					<img class="avatarimg" src="./images/avatars/1.jpg">
				</div>
				<div class="col-xs-8 col-sm-7 col-md-12">
					<div class="username">Johnny</div>
					<div class="usertext">Minimalism helped me to focus on the things in life that add value.
					I realized I do not have to buy anything I lay my eyes on. Instead, I focus on buying quality products.
					I am now happier than ever before.</div>
				</div>
		</div>
	</div>
	</div>

	<div style="margin:100px auto;text-align:center;">
			<button class="btn btn-warning" data-ng-click="go('/signup')">Join the Community</button>
	</div>

  </div>
</section>


<section class="module content" style="margin-top:20px;">

</section>

<!--

	<div class="row" style="margin-top:5px;background-image:url(images/homepage/Business-Sample.jpg);background-repeat:no-repeat;background-size:cover;position:relative;
	height:86vh; overflow-y: auto;">

        <div style="position:absolute;bottom:20px;width:100%;text-align:center;">
        <div class="hp-downarrow" data-ng-click="gotoBottom()">
			<i class="glyphicon glyphicon-chevron-down"></i>
        </div>
        </div>

	  <div class="" style="position: relative;top: 0;right: 0;bottom: 100px;left: 0;">

		  <div class="pull-right col-xs-12 col-sm-5 col-md-4 col-lg-5" style="min-height:440px;position:relative;">

				<h2>Minimalism?</h2>

				<div class="hptext">
					Minimalism
					Simple living
					lifestyle
					Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
				</div>

		  </div>

	  </div>


	</div>

	<div class="row">

	  <div class="visible-xs hidden-sm" style="margin-top: 20px;padding:0px 15px;position:relative;">

			<img src="images/homepage/DSCN0199.jpg" class="img-responsive" alt="">
			<div class="img-copyright">&copy; Conor O'Shea - feelgoodhacks.com</div>

	  </div>

	  <div class="col-xs-12 col-sm-6 col-md-5 col-lg-7">

			<h2>How minimalist are you?</h2>

			<div class="hptext">
				Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
			</div>

	  </div>

	  <div class="hidden-xs col-sm-6 col-md-7 col-lg-5" style="margin-top: 20px;position:relative;">

			<img src="images/homepage/DSCN0199.jpg" class="img-responsive" alt="">
			<div class="img-copyright">&copy; Conor O'Shea - feelgoodhacks.com</div>

			<img src="images/homepage/minimalism-648x536.jpg" class="img-responsive" alt="">
			<div class="img-copyright" style="color:#888888">&copy; Colin Wright - colin.io</div>


	  </div>

	</div>

	<div class="row">

	  <div id="hp_join" class="col-xs-12">

		<button class="btn btn-warning" data-ng-click="go('/signup')">Join the Community</button>

	  </div>

	</div>

-->

</div>